ETHERSCAN_API_KEY=<ETHERSCAN_API_KEY>

RENKEBY_URL=https://eth-rinkeby.alchemyapi.io/v2/<RENKEBY_URL>
RINKEBY_PRIVATE_KEY=<RINKEBY_PRIVATE_KEY>

ACCOUNT_FOR_DEPLOY_TO_RINKEBY = <ACCOUNT_FOR_DEPLOY_TO_RINKEBY>
